html {
    background: url('./pexels-natalia-kolotvina-9977570.jpg');
    background-size:cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;    
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid rgba(255,255,255,0.8);
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
        0 0 0 4px rgba(0,0,0,0.1),
        inset 0 0 0 3px #efefef52,
        inset 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand {
    width: 45%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);

}

.hand.hour-hand {
    max-width: 100px;
    left: 21.5%;
}

.hand.second-hand {
    background-color:rgba(248, 0, 0, 0.658);
    max-height: 2px;
    z-index: 0;
}